* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: blueviolet;
  color: white;
  padding: 2rem;
  text-align: center;
  font-size: 15px;
  font-family: arial;
}

body h3 {
  font-size: 20px;
  color: pink;
}
.botao {
  margin-bottom: 10px;
  margin: 8px;
  padding: 8px;
  border-radius: 12px;
  font-weight: bold;
}

.items {
  margin: 5px;
  padding: 8px;
  font-family: arial;
}

.detalhes {
  background-color: pink;
  margin-bottom: 10px;
  margin: 8px;
  padding: 8px;
  color: black;
  border-radius: 12px;
  font-weight: bold;
}

.informaçao {
  margin: 5px;
  padding: 10px;
  font-family: arial;
}
