* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: blueviolet;
  color: white;
  padding: 2rem;
  text-align: right;
}

.titulo2 h1 {
  margin: 10px;
  text-align: center;
}

.container button {
  margin-bottom: 10px;
  margin: 8px;
  padding: 8px;
  text-align: center;
  border-radius: 12px;
  font-weight: bold;
}

.items {
  margin: 10px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: arial;
}
.items button {
  margin: 10px;
}

.container2 {
  background-color: pink;
  padding: 2rem;
  text-align: left;
}

.título h1 {
  text-align: center;
}

.container2 button {
  margin-bottom: 10px;
  margin: 8px;
  padding: 8px;
  text-align: center;
  border-radius: 12px;
  font-weight: bold;
}

.dados {
  margin: 10px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: arial;
}

.dados p {
  color: red;
}

.dados h3 {
  margin: 10px;
}
